---
layout: default
title: Index
---

<div id="posts">
  {% for post in paginator.posts %}
    <div class="post">
      <h2><a href="{{post.url}}">{{post.title}}</a></h2>
      <p class="post_info">{{post.date|date:site.datefmt_long}} - {{post.location}}</p>
    </div>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  <ul>
    {% if paginator.page != 1 %}
      {% if paginator.previous_page == 1 %}
        <li><a href="{{site.prefix}}/">&laquo;</a></li>
      {% else %}
        <li><a href="{{site.prefix}}/page{{paginator.previous_page}}">&laquo;</a></li>
      {% endif %}
    {% endif %}
    {% for n in (1..paginator.total_pages) limit:10 %}
      {% if n == 1 %}
        <li{% if n == paginator.page %} class="active"{% endif %}><a href="{{site.prefix}}/">{{n}}</a></li>
      {% else %}
        <li{% if n == paginator.page %} class="active"{% endif %}><a href="{{site.prefix}}/page{{n}}">{{n}}</a></li>
      {% endif %}
    {% endfor %}
    {% if paginator.page != paginator.total_pages %}
      <li><a href="{{site.prefix}}/page{{paginator.next_page}}">&raquo;</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}

<div class="row">
  <div class="span4">
    <h3>What's this?</h3>
    <p>A blog about programming, open source, web, telecom, and other interesting stuff related to Unix, Linux and OSX.</p>
    <p>Everything else is on <a href="http://github.com/fiorix/">GitHub</a>.</p>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

  <div class="span4">
    <h3>Articles</h3>
    <form class="form-search" action="http://google.com/search" method="get">
      <input type="hidden" name="q" value="site:musta.sh" />
      <input type="text" name="q" results="0" class="input-medium span2">
    <button type="submit" class="btn">Search</button>
    </form>

  </div>
</div>
