<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>musta.sh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet" type="text/css">
    <link href="{{site.prefix}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{site.prefix}}/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{site.prefix}}/css/custom.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="span2 offset1">
          <img src="{{site.prefix}}/img/mustash.png" width="150px"/>
          <a href="{{site.prefix}}/"><h1>musta.sh</h1></a>
          <br>
          <form class="form-search" action="http://google.com/search" method="get">
            <input type="hidden" name="q" value="site:musta.sh">
            <input type="text" name="q" results="0" class="input-small input-block-level" placeholder="Search">
          </form>
          <p><a href="{{site.prefix}}/rss.xml"><img src="{{site.prefix}}/img/feed-icon-20x20.png" alt="rss"> rss</a></p>
        </div>

        <div class="span8">

          {{content}}

          <br>

        </div> <!--main-->
      </div> <!--row-->
    </div> <!-- /container -->

    <script src="{{site.prefix}}/js/jquery.js"></script>
    <script src="{{site.prefix}}/js/bootstrap-collapse.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29740822-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
