---
layout: default
---

<h3>{{ page.title }}</h3>
<p class="post_info">{{page.date|date:site.datefmt_short}}
<br>

{{ content }}

<p class="post_info">Tags: 
{% for tag in page.tags %}
  {{tag}}
{% endfor %}
</p>

{% if page.comments %}
  <br><br>
  <div id="disqus_thread"></div>
  <script type="text/javascript" src="http://fiorix.disqus.com/embed.js"></script>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  <br>
{% endif %}


{% if site.related_posts %}
  <br>
  <p>You might also like:</p>
  {% for related in site.related_posts limit:5 %}
  <p><a href="{{related.url}}">{{related.title}}</a></p>
  {% endfor %}
{% endif %}
