---
layout: default
---

<h2>{{ page.title }}</h2>
<p class="post_info">{{page.date|date:site.datefmt_short}}</p>
<p>
{% for tag in page.tags %}
  <span class="label">{{tag}}</span>
{% endfor %}
</p>
<br>

{{ content }}

{% if page.comments %}
  <br><br>
  <div id="disqus_thread"></div>
  <script type="text/javascript" src="http://fiorix.disqus.com/embed.js"></script>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  <br>
{% endif %}

{% if site.related_posts %}
  <br>
  <h3>You might also like</h3>
  {% for related in site.related_posts limit:5 %}
    <p class="recent"><a href="{{related.url}}">{{related.title}}</a></p>
  {% endfor %}
{% endif %}
